/* TrainInquiryPage.css */
.f_train-inquiry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #eee;
    width: 450px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
    padding: 0px 0px 70px 0px;
}

.f_title {
    width: 450px; /* 가로 크기를 이미지와 동일하게 수정 */
    border: 1px solid blue;
    background-color: blue;
    color: white;
    position: sticky; /* 상단에 고정 */
    top: 0; /* 상단에 붙도록 설정 */
    z-index: 1; /* 다른 요소 위에 오도록 설정 */
}

.f_image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 15px; /* 간격 조정 */
}

.f_train-image {
    width: 450px; /* 크기 조정 */
    height: 600px; /* 크기 조정 */
    border: 1px solid #ccc;
    border-radius: 10px;
}

.f_image-button {
    position: absolute;
    bottom: 232px;
    left: 62%;
    padding: 13px 22px;
    font-size: 16px;
    background-color: transparent;
    border: 0px solid;
    cursor: pointer;
    z-index: 1;
}

.f_image-button2 {
    position: absolute;
    bottom: 100px;
    left: 72%;
    padding: 20px 30px;
    font-size: 16px;
    background-color: transparent;
    border: 0px solid;
    cursor: pointer;
    z-index: 1;
}

.f_button3 {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.f_final_step {
    position: absolute;
    top: 620px;
    width: 200px;
    height: 50px;
    left: 100px;
}
