/* TogetherCheck.css */

.tg_train-inquiry-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background: #eee;
  width: 430px;
  height: 485px;
  margin: auto;
  margin-top: 50px;
  border-style: solid;
  border-width: 5px;
  border-radius: 8px;
  padding: 0px 0px 70px 0px;
}

.tg_image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.tg_title {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 420px; /* 이미지와 같은 가로 크기 */
  text-align: center;
  border: 1px solid blue;
  background-color: rgb(39, 39, 170);
  color: white;
  padding: 10px;
}

.tg_image_frame {
  position: relative;
  margin-top: 10px; /* 이미지와 간격 조정 */
}

.train-image {
  width: 415px; /* 이미지 프레임의 가로 크기 */
  height: 550px; /* 이미지 프레임의 세로 크기 */
  border: 1px solid #ccc;
  border-radius: 10px;
}

.tg_image-button,
.tg_seat-button,
.tg_change_image {
  position: absolute;
  cursor: pointer;
}

.tg_image-button {
  position: absolute;
  left: 62%;
  top: 55%;
  border: none;
  width: 56px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0);
}

.tg_seat-button {
  left: 280px;
  top: 83%;
  border: none;
  width: 130px;
  height: 43px;
  background-color: rgba(0, 0, 0, 0);
}

.tg_change_image {
  position: absolute;
  top: 300px;
  right: 90px;
  width: 72px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/* TogetherCheck.css */

/* 기존 스타일들... */

.image_tooltip {
  position: absolute; /* 위치 설정을 위해 절대 위치로 설정 */
  left: 170px; /* 원하는 위치로 설정 (맞게 조절 필요) */
  top: 5px; /* 원하는 위치로 설정 (맞게 조절 필요) */
  background: #5677f4;
  color: #fff;
  padding: 13px;
  border-radius: 20rem;
  box-shadow: 2px 2px 3px #d1d1d1;
  z-index: 10; /* 말풍선이 버튼 위에 오도록 설정 */
  width: 180px; /* 말풍선의 너비 */
  text-align: center;
  display: none; /* 기본적으로 보이지 않도록 설정 */
  font-size: 11pt;
  z-index: 100; /* 말풍선이 이미지 위에 오도록 설정 */

}

.tg_image-container:hover .image_tooltip {
  display: block;
  z-index: -1000;
}


.next_tooltip {
  position: absolute; /* 위치 설정을 위해 절대 위치로 설정 */
  left: 160px; /* 원하는 위치로 설정 (맞게 조절 필요) */
  top: 10px; /* 원하는 위치로 설정 (맞게 조절 필요) */
  background: #5677f4;
  color: #fff;
  padding: 13px;
  border-radius: 20rem;
  box-shadow: 2px 2px 3px #d1d1d1;
  z-index: 10; /* 말풍선이 버튼 위에 오도록 설정 */
  width: 180px; /* 말풍선의 너비 */
  text-align: center;
  display: none; /* 기본적으로 보이지 않도록 설정 */
  font-size: 11pt;
  z-index: 100; /* 말풍선이 이미지 위에 오도록 설정 */
  border: #5677f4;

}

.tg_image-container:hover .next_tooltip {
  display: block;
  z-index: -1000;
}