.level_frame{
    margin: auto;
    position: relative;
    text-align: center;
    width: 415px;
    height: 650px;
    border-style: solid;
    border-color: rgb(14, 2, 73);
    border-radius: 12px; 
    
}

.level_title{
    text-align: center;
    border-radius: 12px; 
    font-size: 0.8rem;
    font-weight: bold;
    margin: 2rem 0px; 
    overflow: hidden;
}

.button_alone button{
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem 2rem;
    border: #2483a8;
    background-color: #2483a8;
    color: white;
    margin: auto;
    width: 400px;
    height: 120px;
    border-radius: 12px;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 0px #7245cc;
}

.button_together button{
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem 2rem;
    border: #2483a8;
    background-color: rgb(32, 120, 126);
    color: white;
    border-radius: 12px;
    margin: auto;
    width: 400px;
    height: 120px;
    border-bottom: 1rem;
    box-shadow: 0px 4px 0px #7245cc;
}

.back button{
    font-size: auto;
    font-weight: auto;
    cursor: pointer;
    padding: 1rem 2rem;
    border: #5be96a;
    background-color: #ca7724;
    color: white;
    border-radius: 12px;
    margin: auto;
    width: 400px;
    height: 50px;
    border-radius: 12px;
    margin-top: 1rem;
    box-shadow: 0px 4px 0px #7245cc;
}